doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Get Fit AF
    link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto+Mono:400,700" rel="stylesheet")
    link(href="styles/style.processed.css" rel="stylesheet")

  body

    block content

    block scripts