html {
    font-family: 'Roboto Mono', monospace;
    line-height: 1.66;
  }
  
  html {
    font-size: .8rem;
  }
  
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(14px + 4 * ((100vw - 320px) / 880));
    }
  }
  
  @media screen and (min-width: 1200px) {
    html {
      font-size: 1.2rem;
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.1;
    margin: 0 0 1rem 0;
    color: black;
  }
  
  h1,
  .h1 {
    font-size: 2.48832rem;
  }
  
  @media screen and (min-width: 320px) {
    h1,
    .h1 {
      font-size: calc(34.83648px + 40.45888 * ((100vw - 320px) / 880));
    }
  }
  
  @media screen and (min-width: 1200px) {
    h1,
    .h1 {
      font-size: 75.29536px;
    }
  }
  
  h2,
  .h2 {
    font-size: 1.728rem;
  }
  
  h2,
  .h2 {
    font-size: 24.192px;
  }
  
  @media screen and (min-width: 320px) {
    h2,
    .h2 {
      font-size: calc(24.192px + 14.224 * ((100vw - 320px) / 880));
    }
  }
  
  @media screen and (min-width: 1200px) {
    h2,
    .h2 {
      font-size: 38.416px;
    }
  }
  
  .special-header {
    text-transform: uppercase;
    color: #383838;
    line-height: 0.9;
    letter-spacing: -0.2rem;
    margin: 0;
  }
  
  .special-header span {
    letter-spacing: 0;
    font-size: 50%;
    display: block;
    color: #FF9900;
    text-transform: none;
  }
  
  .special-header-inline span {
    display: inline;
  }
  
  a {
    color: #8181ff;
    text-decoration: none;
  }
  
  p {
    max-width: 350px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  section {
    max-width: 1300px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }
  
  @media (max-width: 48.75em) {
    section {
      padding: 2rem 1rem;
    }
  }
  
  .visually-hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .grid-flex {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  
  @media (max-width: 48.75em) {
    .grid-flex {
      display: block;
    }
    .grid-flex>[class^="grid-"] {
      margin: 0 0 4rem 0;
    }
  }
  
  .grid-1-2 {
    -ms-flex-preferred-size: calc(50% - 1rem);
    flex-basis: calc(50% - 1rem);
  }
  
  .grid-1-3 {
    -ms-flex-preferred-size: calc(33.33% - 1rem);
    flex-basis: calc(33.33% - 1rem);
  }
  
  .grid-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-gap: 1rem;
  }
  
  @media (max-width: 48.75em) {
    .grid-grid {
      display: block;
    }
  }
  
  .login-area {
    position: absolute;
    top: 50px;
    right: 15px;
  }
  
  .login-area img {
    max-width: 80px;
    margin-right: 10px;
  }
  
  .login-area>div {
    display: -ms-flexbox;
    display: flex;
    height: 80px;
  }
  
  .button {
    color: black;
    display: inline-block;
    padding: 1rem 2rem;
    border: 2px solid black;
    font-family: inherit;
    font-size: 1rem;
  }
  
  .button:hover,
  .button:focus {
    background: rgba(0, 0, 0, 0.2);
  }
  
  .dark .button {
    color: white;
    border-color: white;
  }
  
  .dark .button:hover,
  .dark .button:focus {
    color: white;
    background: rgba(255, 255, 255, 0.2);
  }
  
  table {
    border-collapse: collapse;
  }
  
  td,
  th {
    border: 2px solid #999;
    padding: 0.5rem 1rem;
    white-space: nowrap;
    text-align: center;
  }
  
  .table-wrap {
    overflow-x: auto;
  }
  
  .weekly-log {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }
  
  .single-log {
    background: aliceblue;
    padding: 5px;
    font-size: 8px;
    margin: 0 0 5px 0;
  }
  
  .food-log-form {
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 2rem 0;
  }
  
  .food-log-form label {
    display: block;
  }
  
  .food-log-form>div {
    -ms-flex: 1;
    flex: 1;
  }
  
  .food-log-form>div>input {
    width: 100%;
    padding: 0.5rem 1rem;
  }
  
  .food-log-form>div:not(:last-child) {
    padding-right: 1rem;
  }
  
  .dark {
    position: relative;
    background: #444;
    color: white;
  }
  
  .dark::before,
  .dark::after {
    content: "";
    position: absolute;
    top: 0;
    background: #444;
    width: 2000px;
    height: 100%;
  }
  
  .dark::after {
    left: 100%;
  }
  
  .dark::before {
    right: 100%;
  }
  
  .dark table {
    border-color: #eee;
  }
  
  .dark .special-header {
    color: white;
  }
  
  .section-about,
  .section-about::before,
  .section-about::after {
    background-image: url(../images/gym.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
    background-attachment: fixed;
  }
  
  .section-what-we-do>h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  
  .section-what-we-do .do {
    background: #eee;
    color: #666;
    padding: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: top;
    align-items: top;
  }
  
  .section-what-we-do .do svg {
    display: block;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
  
  .section-what-we-do .do strong {
    display: block;
    color: black;
  }
  
  @media (max-width: 48.75em) {
    .section-what-we-do .do {
      padding: 1rem;
      margin: 0 0 1rem 0;
    }
  }
  
  .section-what-we-do .do-weights {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .section-what-we-do .do-kettlebells {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .section-what-we-do .do-jumprope {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .section-what-we-do .do-rings {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  
  .section-coaches {
    position: relative;
  }
  
  @media (max-width: 64em) {
    .section-coaches .coach {
      margin: 3rem 0;
      padding-left: 2rem;
    }
    .section-coaches .coach img {
      max-width: 100%;
    }
  }
  
  @media (min-width: 64em) {
    .section-coaches .coach {
      background: white;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s;
    }
    .section-coaches .coach:hover {
      z-index: 2;
    }
    .section-coaches .coach:hover img {
      filter: brightness(75%) grayscale(25%);
      opacity: 1;
    }
    .section-coaches .coach img {
      filter: grayscale(100%);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .section-coaches .coach-1 {
      -webkit-clip-path: inset(12% 40% 12% 45%);
      clip-path: inset(12% 40% 12% 45%);
    }
    .section-coaches .coach-1:hover {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }
    .section-coaches .coach-2 {
      -webkit-clip-path: inset(8% 20% 8% 65%);
      clip-path: inset(8% 20% 8% 65%);
    }
    .section-coaches .coach-2:hover {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }
    .section-coaches .coach-3 {
      -webkit-clip-path: inset(4% 0% 4% 85%);
      clip-path: inset(4% 0% 4% 85%);
    }
    .section-coaches .coach-3:hover {
      -webkit-clip-path: inset(0 0 0 0);
      clip-path: inset(0 0 0 0);
    }
    .section-coaches .coach-text {
      position: absolute;
      z-index: 5;
      top: 50%;
      transform: translateY(-50%);
      left: 2rem;
    }
    .section-coaches .coach-text .special-header {
      color: white;
    }
    .section-coaches .coach-text .special-header span {
      color: white;
    }
    .section-coaches .coach-text p {
      padding: 1rem;
      background: rgba(255, 255, 255, 0.5);
    }
  }