table {
  border-collapse: collapse;
}
td, th {
  border: 2px solid #999;
  padding: 0.5rem 1rem;
  white-space: nowrap;
  text-align: center;
}

// .schedule {
//   td {
//     text-align: ":";
//   }
// }

.table-wrap {
  overflow-x: auto;
}


.weekly-log {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
}
.single-log {
  background: aliceblue;
  padding: 5px;
  font-size: 8px;
  margin: 0 0 5px 0;
}