// Fluid Type Stuff
$min_width: 320px;
$max_width: 1200px;
$min_font: 14px;
$max_font: 18px;

$mod_1: 1.2; // mobile
$mod_2: 1.4; // desktop

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

html { // because rem
  font-family: 'Roboto Mono', monospace;
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
  line-height: 1.66;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.1;
  margin: 0 0 1rem 0;
  color: $orange;
}
h1, .h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2*$mod_2*$mod_2 *$min_font);
}
h2, .h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
  @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
h3, .h3 {
  // font-size: $mod_1*$mod_1*$mod_1 *1rem;
  // @include fluid-type($min_width, $max_width, $mod_1*$mod_1*$mod_1 *$min_font, $mod_2*$mod_2*$mod_2 *$min_font);
}
.special-header {
  text-transform: uppercase;
  color: #383838;
  line-height: 0.9;
  letter-spacing: -0.2rem;
  margin: 0;
  span {
    letter-spacing: 0;
    font-size: 50%;
    display: block;
    color: $orange;
    text-transform: none;
  }
}
.special-header-inline {
  span {
    display: inline;
  }
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  max-width: 350px;
}